<div style="text-align: center; margin-top: 50px; padding: 40px">
  <img ng-src="images/home.jpg" style="width: 50%">
  <!--Create new prescription-->
    <form ng-submit="login(info)">
      <label>PHONE NUMBER<input ng-model="info.phone" style="color: lightgrey; text-align: center; font-size: 50px" required maxlength="7" minlength="7" ></label>
      <label>PIN<input ng-model="info.pin" style="color: lightgrey; text-align: center; font-size: 50px" required maxlength="4" minlength="4" ></label>

      <div style="text-align: center">
        <button class="btn waves-effect waves-light grey" type="submit" >Start</button>
      </div>
    </form>
  <!--Create new prescription end-->
</div>






