<div class="container">
	<!--PAGE INTRO-->
	<p>
		{{lifestyleIntro}}
	</p>
	<!--END INTRO-->
	<br>

	<!--LIST LIFESTYLE-->
	<div class="row"  ng-repeat="lifestyle in lifestyles"  style="height: 30px; background-color: ">
		<div class="col s2" style="margin-top: -7px; text-align: center">
			<a class="btn-floating btn-medium waves-effect waves-light" style="background-color: #CDDC39"
			   ng-click="showDetail(visit['id'])">{{lifestyle['id']}}</a>
		</div>
		<div class="col s10"  style="border-bottom: lightgray solid 1px; height: 30px">{{lifestyle['name']}}</div>
	</div>
	<!--END LIFESTYLE-->

</div>


